<!DOCTYPE html>
<html>

<head>
    <title>Webcam Stream</title>
</head>

<body>
    <div style="align-content: center;">
    <video id="video" width="640" height="480" autoplay></video></div>
    <script>
        const video = document.getElementById('video');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.error("Error accessing video stream: ", error);
            });

        let intervalId = setInterval(function () {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            canvas.toBlob(function (blob) {
                const formData = new FormData();
                formData.append('image', blob);

                fetch('/analyze', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);

                        if (data.stopVideo) {
                            let stream = video.srcObject;
                            let tracks = stream.getTracks();

                            for (let i = 0; i < tracks.length; i++) {
                                let track = tracks[i];
                                track.stop();
                            }

                            video.srcObject = null;

                            // 웹캠이 종료되었으므로 setInterval 함수를 중지합니다.
                            clearInterval(intervalId);
                        }
                    });
            });
        }, 1000);
    </script>
</body>

</html>